
@keyframes fadein{
    0%   {opacity: 0}
    80%  {opacity: 0}
    100% {opacity: 1}
}

.fadeInImage {
    animation-name: fadein;
    animation-duration: 1.7s;
}

h1 { font-family: 'Artifika', arial, serif; font-size:24pt;}

h2 { color: #ffffff;}

.logo {
    position: absolute !important;
    top:0px;
    left:0px;
    right:0px;
    margin: 0 auto;
}

header {
    background-color: black;
}

body {
    font-size: 20px;
    font-family: 'Artifika';
    background-color: rgb(0,0,0);
    padding-left:30px;
    padding-right:30px;
}

h1 {
    color:#b79600;
}

hr {
    border: none;
    height: 5px;
    background-color: #ab7a00;
    width: 80%;
    margin: 5px;
    border-radius: 0px;
}

.left {
    margin-top: 40px;
    float: left;
}

.right {
    margin-bottom: 40px;
    background-color: #8b5a00;
    float: right;
}


img{
    max-width:100%;
    height:auto;
}

.icon2 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}

h3 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 20px;
    text-align:left;
    color:#aaa;
}

a {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 24px;
    color:#ab7a00;
}

a:visited {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 24px;
    color:#ab7a00;
    text-decoration: none !important;
}

a:link {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 24px;
    color:#ab7a00;
    text-decoration: none !important;
}

a:hover{
    color:#ffd200;
    text-decoration: none;
}

a:active{
    color:#ffd200;
    text-decoration: none;
}

.center{
   text-align:center;
}
